#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

# SSE support enabled only for amd64
SSE_FLAGS =
ifeq ($(DEB_HOST_ARCH),amd64)
SSE_FLAGS = -mfpmath=sse -msse -msse2 -msse3 -mssse3
endif

.PHONY: override_dh_auto_configure   \
        override_dh_auto_build \
        override_dh_auto_test \
        override_dh_shlibdeps \
        override_dh_strip

override_dh_auto_configure:
	# Pull in ROS and Gazebo configuration
	. "/opt/ros/kinetic/setup.sh" && \
	dh_auto_configure --  \
	    -DCMAKE_INSTALL_PREFIX:PATH=/usr \
	    -DCMAKE_BUILD_TYPE=RelWithDebInfo \
	    -DFCL_WITH_OCTOMAP=True \
	    -DFCL_BUILD_TESTS=True \
            -DCMAKE_CXX_FLAGS_RELWITHDEBINFO:STRING="$(SSE_FLAGS)"

override_dh_auto_build:
	. "/opt/ros/kinetic/setup.sh" && \
	rosdep update && \
	dh_auto_build -- VERBOSE=1

override_dh_strip:
	dh_strip -a --dbg-package=libfcl0.5-dbg

override_dh_auto_test:
ifneq ($(DEB_HOST_ARCH),amd64)
	true
else
	dh_auto_test
endif

override_dh_shlibdeps:
	. "/opt/ros/kinetic/setup.sh" && \
	dh_shlibdeps

%:
	dh $@ --parallel --buildsystem=cmake
